:root {
    --white: #ffffff;
    --blue-medium: #005c98;
    --blue-light:  #0095f6;
    --black-light: #262626;
    --black-faded: #00000059;
    --gray-base: #616161;
    --gray-background: #fafafa;
    --gray-primary: #dbdbdb;
    --ig-primary-text: 38, 38, 38;
}
h3 {
    color: rgb(var(--ig-primary-text));
    font-weight: 500;
    letter-spacing: .5px;
    margin: 8rem auto 3rem auto;
}
.not-avail-p {
    color: rgb(var(--ig-primary-text));
    margin: 2rem;
}
.back {
    text-decoration: none;
}

